<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Delete Document</title>
</head>
<body>
    <form method="post" action="/list/delete/{{da}}" class="form_css">
    <input type="text" name="id" id="id" class="idea" value="{{da}}"><br>
    <input type="submit" name="submit" id="btns" value="Delete">
    </form>
</body>
</html>