<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Search for Book</h1>
      <form action="/search" method="post">
        <input
          type="text"
          name="search"
          id="seach"
          class="form-control mt-5"
        /><br />
        <input
          type="submit"
          value="submit"
          class="btn btn-primary"
          name="submit"
        />
      </form>
    </div>
    <div class="d-flex align-content-start flex-wrap container" >
        {{#each data}}
      <div class="card" style="width: 18rem;margin-left: 12px; margin-top:12px">
        <img src="{{volumeInfo.imageLinks.smallThumbnail}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h6 class="card-title">{{volumeInfo.subtitle}}</h6>
          <p class="card-text">{{volumeInfo.publisher}}</p>
          <a href="{{volumeInfo.infoLink}}" class="btn btn-primary">Details</a>
        </div>
      </div>
      {{/each}}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>